/* === Reset Global === */
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Gotham Rounded, sans-serif;
  font-weight: normal;
  padding: 0;
  margin: 0;
}

/* BODY ======================== */
body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #07141a;
  min-height: 100vh;
}

body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#E91E63, #FFC107);
  clip-path: circle(22% at 30% 20%);
}

body::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#fff, #da00ff);
  clip-path: circle(20% at 70% 90%);
}

/* MAIN ======================== */
.container {
  position: relative;
  background-color: rgba(24, 26, 27, 0.05);
  border-radius: 6px;
  overflow: hidden;
  z-index: 10;
  backdrop-filter: blur(10px);
  border-top: 1px solid rgba(255, 255, 255, 0.153);
  border-left: 1px solid rgba(255, 255, 255, 0.153);
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
}

.container .calculator-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.container .calculator-grid .output {
  grid-column: 1 / -1;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
  border: none;
  background: transparent;
  color: #e8e6e3;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  border-right: 1px solid rgba(48, 52, 54, 0.05);
}

.container .calculator-grid .output .previous-operand {
  color: rgba(255, 255, 255, 0.75);
  font-size: 1.5rem;
}

.container .calculator-grid .output .current-operand {
  color: #e8e6e3;
  font-size: 2.5rem;
}

.container .calculator-grid .span-two {
  grid-column: span 2;
  background: rgba(0, 0, 0, 0.283);
}

.container .calculator-grid > button {
  cursor: pointer;
  font-size: 20px;
  outline: none;
  background: rgba(0, 0, 0, 0.05);
  border: none;
  color: #e8e6e3;
  user-select: none;
  border-bottom: 1px solid rgba(48, 52, 54, 0.112);
  border-right: 1px solid rgba(48, 52, 54, 0.112);
  transition: 0.5s;
}

.container .calculator-grid > button:hover {
  transition: 0s;
  background-color: rgba(255, 255, 255, 0.05);
}

.container .calculator-grid > button:active {
  background: #87dd67;
  color: #192F00;
  font-size: 24px;
  font-weight: 500;
}

/* MODAL ======================== */
.modal-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  z-index: 999;
}

.modal-overlay.active {
  opacity: 1;
  visibility: visible;
  animation: fade-in 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.modal {
  background: #0c0d0e;
  padding: 2.4rem;
  border-radius: 0.25rem;
  position: relative;
  z-index: 1;
}

.modal #message {
  color: #e8e6e3;
  max-width: 500px;
}

.modal #message h2 {
  margin-top: 0;
  font-size: 2rem;
  text-align: center;
}

.modal #message p {
  font-size: 1.5rem;
  margin-top: 0.5rem;
}

.modal #message .input-modal {
  margin-top: 1.2rem;
}

.modal #message .input-modal.action {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal #message .input-modal.action .button {
  width: 50%;
}

.modal #message .input-modal.action .button.confirm {
  color: #87dd67;
  text-decoration: none;
  border: 2px #38811d solid;
  border-radius: 0.25rem;
  background-color: rgba(0, 0, 0, 0.501);
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.6;
}

.modal #message .input-modal.action .button.confirm:hover {
  opacity: 1;
}

/**
 * ----------------------------------------
 * animation fade-in for MODAL
 * ----------------------------------------
*/

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*# sourceMappingURL=styles.css.map */